@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --main: #ffffff;
    --secondary: #000000;
    --text: #71717A;
    --text-in-black: #D4D4D8;
    --background-hover: #27272A;
    --main-font: font-family: "Sora", serif;
    --header-height: 3.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    font-family: "Sora", serif;
}

p {
    font-size: 1.4rem;
    color: var(--text);
    font-weight: 300;
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
}

/*REUSABLE STYLES*/
/*button-black*/

.button-black a {
    color: var(--main);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.button-black:hover a {
    color: var(--secondary);
}

/*FINISH REUSABLE STYLES*/
.logo,
.nav-link {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 5rem;
    position: relative;
}

/* Line effect hover*/
.nav-list .nav-line {
    position: absolute;
    top: 2rem;
    bottom: 0;
    border-radius: 1rem;
    height: 3px;
    background-color: var(--secondary);
    width: 0;
    transition: width 0.5s ease;
}

.open-menu,
.close-menu {
    display: none;

}

.cv-button {
    display: flex;
    gap: 1rem;
    background-color: var(--secondary);
    padding: 0.9rem 1.5rem;
    border-radius: 0.3rem;
    border: solid 2px transparent;
}

.cv-button:hover {
    border: solid 2px;
    border-color: var(--secondary);
    background-color: var(--main);
}


.cv-button:hover .svg-nav {
    filter: invert(2);
    /* Invierte los colores del icono SVG */
}

/* Finish line effect hover*/

@media (max-width: 480px) {

    .nav {
        padding: 2rem 3rem;
        background-color: var(--secondary);
    }

    .nav a {
        color: var(--main);
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    .cv-button {
        display: none;
    }

    .nav-list-container {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        background-color: var(--secondary);
        padding: 3rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 100;
    }

    .nav-list-container.visible {
        opacity: 1;
        visibility: visible;
    }


    .nav-list {
        flex-direction: column;
        align-items: start;
    }

    .nav-list a {
        color: var(--main);
    }

    .nav-list .nav-line {
        background-color: var(--main);
    }

}

/* HERO SECTION*/

.hero-section {
    padding: 12rem 8rem;
    display: flex;
}

.hero-image-item {
    max-width: 85%;
}

.hero-left {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: end;
}

.hero-right {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
}

.icon-item {
    width: 32px;
}

.main-title {
    margin-bottom: 2.5rem;
    font-size: 3.4rem;
    line-height: 5.5rem;
}

@media (max-width: 480px) {
    .hero-section {
        padding: 3rem 3rem;
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-left,
    .hero-right {
        width: 100%;
    }

    .hero-image-item {
        max-width: 100%;
    }

    .main-title {
        font-size: 2.8rem;
        line-height: 3.5rem;
        margin-top: 2.5rem;
    }
}


.icon-item {
    width: 32px;
}

.main-title-utility {
    font-weight: 400;
}

.main-paragraph {
    margin-bottom: 8rem;
}

.hero-icons {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
}

.icon-item {
    border: 1.5px solid transparent;
    padding: 1.3px;
    width: 4rem;
}

.icon-item:hover {
    background-color: white;
    /* Fondo blanco al hacer hover */
    border-color: black;
    /* Borde negro al hacer hover */
    border-radius: 12%;
    filter: invert(1);
    /* Invierte los colores del icono SVG */
}

.nav-item-03 {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background-color: var(--secondary);
    border-radius: 0.2rem;
    padding: 0.8rem 1.5rem;
    border: 2px solid transparent;
}

.nav-item-03:hover .svg-nav {
    filter: invert(1) brightness(0);
}

.nav-item-03:hover {
    background-color: var(--main);
    border-color: var(--secondary);
}

.nav-item-03:hover a {
    color: var(--secondary);
}

.nav-item-03 a {
    color: var(--main);
}

.skills-section {
    padding: 0 8rem;
    margin-bottom: 12rem;
}

.skills-section h2 {
    text-align: center;
    margin-bottom: 8rem;
}

.grid-skills-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
    justify-content: space-between;
}

.grid-skills-container>.grid-skills-item:nth-child(5n) {
    margin-right: 0;
}

img.img-grid-skills {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.grid-skills-item {
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: 2px solid;
    border-color: var(--secondary);
    border-radius: 3%;
    padding: 5rem;
}

.grid-skills-item:hover {
    background-color: var(--secondary);
}

.grid-skills-item:hover .img-grid-skills {
    filter: invert(1);
}

.experience-section {
    background-color: var(--secondary);
    padding: 12rem 8rem;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.experience-item {
    background-color: #000000;
    padding: 3rem 2.5rem;
    border-radius: 1rem;
    border: 1.5px solid;
    border-color: var(--text-in-black);
}

.experience-item:hover {
    background-color: var(--background-hover);
}

.experience-item-header {
    display: grid;
    grid-template-columns: auto 80% 15%;
    margin-bottom: 2rem;
}

.img-experience-item {
    width: 3rem;
}

.subtitle-experience-item {
    font-size: 2rem;
    color: var(--main);
    letter-spacing: 2px;
    font-weight: 500;
}

.experience-section h2 {
    color: var(--main);
    text-align: center;
}

.experience-item-header p {
    text-align: right;
    color: var(--text-in-black);
}

.description-experience-item {
    color: var(--text-in-black);
}

.about-section {
    padding: 12rem 8rem;
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.left-about-section img {
    width: 45rem;
}

.projects-section {
    background-color: var(--secondary);
    padding: 12rem 8rem;
}

.projects-section h2 {
    color: var(--main);
    text-align: center;
    margin-bottom: 5rem;
}

.about-me-text {
    margin-top: 2rem;
}

.left-to-right-projects {
    display: flex;
    flex-direction: row;
    gap: 0rem;
}

.img-container-project img {
    width: 80%;
}

.img-container-project {
    width: 50%;
}

.content-container-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.content-container-project span {
    color: var(--main);
    font-size: 3.5rem;
    font-weight: 600;
}

.name-project {
    color: var(--main);
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.content-container-project img {
    margin-top: 2rem;
    width: 3rem;
}

.right-to-left-projects {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.img-right {
    text-align: right;
}

.testimonials-section {
    padding: 12rem 8rem;
}

.testimonials-section h2.main-title {
    text-align: center;
    margin-bottom: 5rem;
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.testimonial-item {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /* Más marcada abajo */
    padding: 4rem 4rem;
    height: 40rem;
    border-radius: 5%;
}

.testimonial-item:hover {
    background-color: var(--secondary);
}

.testimonial-item:hover .text-testimonial,
.testimonial-item:hover .line-testimonial,
.testimonial-item:hover .name-testimonial,
.testimonial-item:hover .profession-testimonial {
    color: var(--text-in-black);
}

.img-container-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-testimonial {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.icon-testimonial {
    position: relative;
    top: -4rem;
    right: -4rem;
    width: 3rem;
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 50%;

}

.testimonial-item:hover .icon-testimonial {
    filter: invert(1);
}


.content-container-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

p.text-testimonial {
    font-size: 1.5rem;
    text-align: center;
}

.line-testimonial {
    width: 60%;
    border: solid 1.5px;

}

h3.profession-testimonial {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--text);
}

.contact-section {
    padding: 5rem 8rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.contact-form-home,
.content-contact-container {
    width: 50%;
}

.content-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    overflow: hidden;
}

fieldset {
    border: none;
}

.fieldset-container input,
.fieldset-container textarea {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    font-family: var(--main-font);
    font-weight: 300;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    /* Ocupa todo el ancho del contenedor */
    border-style: initial;
    border: solid 2px;
    border-color: #222222;
    border-radius: 5px;
}

textarea {
    height: 14rem;
    resize: none;
}

.info-contact {
    font-weight: 500;
    font-size: 1.8rem;
    padding-top: 1rem;
}

.content-contact-container .main-title {
    margin-bottom: 1rem;
}

.text-contact-section {
    margin-bottom: 2.5rem;
}

.utility-class-outline {
    color: rgb(255, 255, 255);
    /* Relleno blanco */
    text-shadow:
        1px 1px 0 rgb(0, 0, 0),
        /* Desplazamiento mayor para un contorno más grueso */
        -1px -1px 0 rgb(0, 0, 0),
        /* Desplazamiento mayor para un contorno más grueso */
        1px -1px 0 rgb(0, 0, 0),
        /* Desplazamiento mayor para un contorno más grueso */
        -1px 1px 0 rgb(0, 0, 0);
    /* Desplazamiento mayor para un contorno más grueso */
}

.fieldset-container button {
    background-color: var(--secondary);
    color: var(--main);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border-style: inherit;
    border: solid 2px var(--secondary);
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.submit-contact:hover {
    background-color: var(--main);
    color: var(--secondary);
}

.hero-icons-contact {
    position: relative;
    top: -3.9rem;
    right: -14.5rem;
}

footer {
    background-color: var(--secondary);
    padding: 2rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3.name-portfolio-footer,
p.disclaimer-footer {
    color: var(--main);
}

h3.name-portfolio-footer {
    font-size: 1.6rem;
    font-weight: 600;
}


/********BORRAR**************/

.nav-item-02 a {
    position: relative;
    /* Necesario para posicionar la línea */
}

.nav-item-02 .nav-line {
    position: absolute;
    bottom: 0;
    /* Línea en la parte inferior del enlace */
    left: 50%;
    /* Centrado horizontal */
    transform: translateX(-50%);
    height: 3px;
    /* Grosor de la línea */
    background-color: black;
    /* Color de la línea */
    width: 0;
    /* Ancho inicial de la línea */
    transition: width 0.3s ease;
    /* Animación suave */
}
